#MainMenu, div[data-testid="stDecoration"], footer {
    display: none;
}

#side-footer {
    background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 202 114" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"> <g transform="matrix(1,0,0,1,-510,-1961)"> <g> <g transform="matrix(0.14468,0,0,0.1193,439.111,1692.14)"> <path d="M833.149,2499.78C811.611,2477.47 773.15,2469.01 728.535,2484.39C641.613,2515.16 497.769,2657.47 497.769,2821.31C497.769,2884.39 522.384,2942.08 585.46,2965.15C690.074,3003.62 786.996,2913.62 849.303,2799C906.995,2692.85 928.533,2541.31 833.149,2499.78ZM793.15,2777.46C728.535,2895.92 637.767,2957.46 586.999,2935.92C534.691,2913.62 536.23,2783.62 610.075,2669C682.382,2556.7 780.073,2504.39 817.765,2518.24C860.072,2533.62 863.149,2649 793.15,2777.46Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> <path d="M1037.76,2956.69C972.379,2983.62 908.533,3021.31 880.072,3087.46C861.611,3130.54 881.61,3157.46 897.764,3177.46C916.995,3201.31 933.148,3196.69 948.533,3188.23C996.994,3161.31 1076.99,3045.15 1076.99,2962.85C1109.3,2949 1153.15,2922.85 1170.84,2889.77C1181.61,2869.77 1184.68,2848.23 1181.61,2842.08C1178.53,2835.16 1170.84,2835.93 1167.76,2842.08C1143.15,2889 1110.84,2922.85 1075.45,2941.31C1072.38,2926.69 1066.22,2913.62 1055.45,2903.62C1043.15,2892.08 1025.45,2887.46 1006.99,2888.23C1056.99,2856.69 1100.84,2819 1120.84,2785.16C1144.68,2744.39 1142.38,2709 1123.91,2682.85C1104.68,2655.16 1082.38,2650.54 1047.76,2655.16C1010.84,2659.77 966.994,2681.31 936.225,2711.31C907.764,2739 898.533,2774.39 904.687,2794.39C906.225,2800.54 911.61,2802.85 916.225,2796.69C975.455,2722.85 1080.07,2668.23 1100.84,2694.39C1121.61,2720.54 1072.38,2795.93 956.994,2862.08C930.071,2877.46 912.379,2901.31 923.918,2934.39C926.225,2940.54 931.61,2939 936.994,2935.15C975.455,2908.23 1022.38,2903.62 1033.15,2917.46C1040.07,2926.69 1040.84,2940.54 1037.76,2956.69ZM1030.84,2982.08C1004.69,3059.77 924.687,3167.46 910.841,3151.31C896.226,3133.61 928.533,3039.77 1030.84,2982.08Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> </g> <g transform="matrix(0.0749373,0,0,0.0749373,546.014,1905.74)"> <path d="M944.161,1665.94C959.719,1665.94 973.94,1667.1 986.823,1669.4C999.707,1671.71 1010.71,1675.85 1019.82,1681.8C1028.94,1687.76 1035.99,1695.84 1040.97,1706.05C1045.95,1716.26 1048.45,1729.27 1048.45,1745.07C1048.45,1761.11 1045.95,1774.48 1040.97,1785.18C1035.99,1795.87 1028.94,1804.44 1019.82,1810.88C1010.71,1817.33 999.707,1821.88 986.823,1824.56C973.94,1827.23 959.719,1828.57 944.161,1828.57L888.007,1828.57L888.007,1898.94C888.007,1910.12 901.499,1915.72 928.482,1915.72L928.482,1936.87L799.765,1936.87L799.765,1915.72C821.4,1915.72 832.218,1910.12 832.218,1898.94L832.218,1704.23C832.218,1693.05 821.4,1687.45 799.765,1687.45L799.765,1665.94L944.161,1665.94ZM888.007,1696.57L888.007,1798.3L937.962,1798.3C957.652,1798.3 971.752,1793.81 980.26,1784.81C988.768,1775.82 993.022,1762.57 993.022,1745.07C993.022,1729.75 988.768,1717.84 980.26,1709.33C971.752,1700.82 957.652,1696.57 937.962,1696.57L888.007,1696.57Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> <path d="M1296.76,1772.05C1288.01,1772.05 1281.57,1773.08 1277.44,1775.15C1273.31,1777.22 1270.39,1780.32 1268.69,1784.45L1202.32,1944.16C1197.22,1956.56 1192.54,1967.43 1188.29,1976.79C1184.03,1986.15 1179.29,1994.05 1174.06,2000.49C1168.84,2006.94 1162.7,2011.8 1155.65,2015.08C1148.6,2018.36 1139.73,2020 1129.03,2020C1112.26,2020 1098.64,2015.81 1088.19,2007.42C1077.74,1999.04 1072.51,1987.79 1072.51,1973.69C1072.51,1971.26 1073,1968.47 1073.97,1965.31C1074.94,1962.15 1076.52,1959.23 1078.71,1956.56C1080.9,1953.88 1083.57,1951.63 1086.73,1949.81C1089.89,1947.99 1093.66,1947.08 1098.04,1947.08C1106.55,1947.08 1112.87,1949.14 1117,1953.27C1121.13,1957.41 1123.2,1962.27 1123.2,1967.86C1123.2,1974.18 1121.31,1979.1 1117.55,1982.63C1113.78,1986.15 1108.73,1988.28 1102.41,1989.01C1104.6,1992.65 1107.7,1995.63 1111.71,1997.94C1115.72,2000.25 1122.35,2001.41 1131.58,2001.41C1140.34,2001.41 1147.51,1997.88 1153.1,1990.83C1158.69,1983.78 1164.89,1972.84 1171.69,1958.01L1098.77,1784.81C1094.63,1776.3 1085.88,1772.05 1072.51,1772.05L1072.51,1751.27L1176.8,1751.27L1176.8,1772.05L1158.93,1772.05C1151.88,1772.05 1148.36,1774.36 1148.36,1778.98C1148.36,1780.92 1148.72,1782.75 1149.45,1784.45L1196.85,1903.68L1244.99,1787.73C1245.71,1785.54 1246.08,1783.6 1246.08,1781.89C1246.08,1775.33 1240.85,1772.05 1230.4,1772.05L1219.46,1772.05L1219.46,1751.27L1296.76,1751.27L1296.76,1772.05Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> <path d="M1464.86,1665.94C1486.98,1665.94 1506.43,1667.58 1523.2,1670.86C1539.98,1674.14 1554.02,1680.4 1565.32,1689.64C1576.62,1698.88 1585.07,1711.88 1590.66,1728.66C1596.25,1745.43 1599.05,1767.31 1599.05,1794.29C1599.05,1821.76 1596.25,1844.61 1590.66,1862.84C1585.07,1881.08 1576.62,1895.66 1565.32,1906.6C1554.02,1917.54 1539.98,1925.32 1523.2,1929.94C1506.43,1934.56 1486.98,1936.87 1464.86,1936.87L1322.65,1936.87L1322.65,1915.72C1344.29,1915.72 1355.11,1910.12 1355.11,1898.94L1355.11,1704.23C1355.11,1693.05 1344.29,1687.45 1322.65,1687.45L1322.65,1665.94L1464.86,1665.94ZM1410.89,1694.75L1410.89,1908.42L1470.69,1908.42C1484.31,1908.42 1495.67,1905.93 1504.79,1900.95C1513.9,1895.97 1521.2,1888.67 1526.67,1879.07C1532.14,1869.47 1535.97,1857.62 1538.15,1843.52C1540.34,1829.42 1541.43,1813.38 1541.43,1795.39C1541.43,1777.4 1540.34,1762.02 1538.15,1749.26C1535.97,1736.5 1532.14,1726.11 1526.67,1718.08C1521.2,1710.06 1513.9,1704.17 1504.79,1700.4C1495.67,1696.63 1484.31,1694.75 1470.69,1694.75L1410.89,1694.75Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> <path d="M1709.9,1785.91C1716.95,1772.05 1725.52,1762.02 1735.6,1755.82C1745.69,1749.62 1756.57,1746.53 1768.24,1746.53C1773.59,1746.53 1779.12,1747.38 1784.83,1749.08C1790.54,1750.78 1795.71,1753.45 1800.33,1757.1C1804.94,1760.75 1808.71,1765.43 1811.63,1771.14C1814.55,1776.85 1816.01,1783.6 1816.01,1791.38C1816.01,1800.61 1813.51,1808.21 1808.53,1814.16C1803.55,1820.12 1796.8,1823.1 1788.29,1823.1C1779.79,1823.1 1773.34,1820.85 1768.97,1816.35C1764.59,1811.86 1762.4,1806.45 1762.4,1800.13C1762.4,1794.05 1764.41,1788.94 1768.42,1784.81C1772.43,1780.68 1778.57,1778.49 1786.84,1778.25C1784.89,1774.6 1781.73,1771.81 1777.35,1769.86C1772.98,1767.92 1768.36,1766.94 1763.5,1766.94C1759.12,1766.94 1754.44,1768.04 1749.46,1770.23C1744.48,1772.41 1739.61,1775.7 1734.87,1780.07C1730.13,1784.45 1725.58,1790.1 1721.2,1797.03C1716.83,1803.96 1713.06,1812.16 1709.9,1821.64L1709.9,1899.67C1709.9,1905.26 1712.93,1909.4 1719.01,1912.07C1725.09,1914.74 1733.96,1916.08 1745.63,1916.08L1745.63,1936.87L1628.58,1936.87L1628.58,1916.08C1649.49,1916.08 1659.94,1910.61 1659.94,1899.67L1659.94,1788.46C1659.94,1777.52 1649.49,1772.05 1628.58,1772.05L1628.58,1751.27L1709.9,1751.27L1709.9,1785.91Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> <path d="M2065.42,1772.05C2056.67,1772.05 2050.22,1773.08 2046.09,1775.15C2041.96,1777.22 2039.04,1780.32 2037.34,1784.45L1970.98,1944.16C1965.87,1956.56 1961.19,1967.43 1956.94,1976.79C1952.68,1986.15 1947.94,1994.05 1942.72,2000.49C1937.49,2006.94 1931.35,2011.8 1924.3,2015.08C1917.25,2018.36 1908.38,2020 1897.68,2020C1880.91,2020 1867.3,2015.81 1856.85,2007.42C1846.39,1999.04 1841.17,1987.79 1841.17,1973.69C1841.17,1971.26 1841.65,1968.47 1842.62,1965.31C1843.6,1962.15 1845.18,1959.23 1847.36,1956.56C1849.55,1953.88 1852.23,1951.63 1855.39,1949.81C1858.55,1947.99 1862.32,1947.08 1866.69,1947.08C1875.2,1947.08 1881.52,1949.14 1885.65,1953.27C1889.78,1957.41 1891.85,1962.27 1891.85,1967.86C1891.85,1974.18 1889.97,1979.1 1886.2,1982.63C1882.43,1986.15 1877.39,1988.28 1871.07,1989.01C1873.25,1992.65 1876.35,1995.63 1880.36,1997.94C1884.38,2000.25 1891,2001.41 1900.24,2001.41C1908.99,2001.41 1916.16,1997.88 1921.75,1990.83C1927.34,1983.78 1933.54,1972.84 1940.35,1958.01L1867.42,1784.81C1863.29,1776.3 1854.54,1772.05 1841.17,1772.05L1841.17,1751.27L1945.45,1751.27L1945.45,1772.05L1927.58,1772.05C1920.54,1772.05 1917.01,1774.36 1917.01,1778.98C1917.01,1780.92 1917.38,1782.75 1918.1,1784.45L1965.51,1903.68L2013.64,1787.73C2014.37,1785.54 2014.73,1783.6 2014.73,1781.89C2014.73,1775.33 2009.51,1772.05 1999.05,1772.05L1988.11,1772.05L1988.11,1751.27L2065.42,1751.27L2065.42,1772.05Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> </g> <g transform="matrix(0.0358027,0.0144372,-0.0174785,0.029573,567.716,1962.8)"> <path d="M746.12,1256.14L706.884,1056.51C702.041,1029.89 698.165,1007.4 695.259,989.047C692.353,970.69 690.9,956.005 690.9,944.99C690.9,890.837 714.15,863.76 760.651,863.76C785.84,863.76 804.004,871.333 815.145,886.477C826.286,901.622 831.857,921.126 831.857,944.99C831.857,955.087 830.646,969.543 828.224,988.359C825.802,1007.18 821.684,1029.89 815.872,1056.51L776.636,1256.14L746.12,1256.14Z" style="fill:rgb(83,105,132);fill-rule:nonzero;"/> </g> <g transform="matrix(0.150525,0,0,0.150525,437.221,1892.46)"> <path d="M1381.54,735.871C1388.57,720.168 1395.77,702.262 1400.57,684.602C1409.7,650.962 1408.62,618.26 1392.89,597.45C1367.09,564.439 1328.15,553.071 1289.83,552.876C1266.16,552.756 1243.07,556.781 1225.26,560.498C1227.95,548.125 1227.7,536.882 1225.01,526.772C1220.77,510.869 1211.05,497.112 1195.54,486.423C1174.27,471.763 1141.75,462.244 1101.52,458.95C1041.44,454.031 963.772,462.419 883.433,482.334C814.277,499.476 743.067,524.819 680.169,559.207C678.837,559.903 678.322,561.55 679.018,562.881C679.714,564.212 681.361,564.728 682.692,564.031C736.921,536.866 796.773,515.788 856.282,501.894C920.245,486.961 983.605,480.232 1038.4,480.972C1085.45,481.607 1125.9,488.152 1154.56,500.42C1172.45,508.075 1185.23,517.817 1189.79,531.045C1193.92,543.044 1189.7,557.042 1178.99,573.884C1175.26,579.856 1175.65,585.154 1176.42,589.065C1177.53,594.616 1180.81,599.337 1186.99,602.682C1189.97,604.3 1200.83,605.58 1216.77,602.825C1235.21,599.638 1266.5,593.863 1297.3,596.745C1319.6,598.832 1341.99,605.557 1356.53,625.126C1364.27,635.224 1361.62,650.843 1358.18,667.219C1351.55,698.688 1336.19,732.613 1328.09,751.882C1324.19,761.171 1321.79,768.066 1321.28,771.358C1319.12,785.438 1326.85,792.021 1331.95,794.547C1335.47,796.287 1340.61,798.154 1347.59,796.538C1351.83,795.556 1359.94,791.96 1370.84,785.485C1401.32,767.384 1464.39,726.103 1545.38,706.952C1588.07,696.857 1635.62,692.75 1685.95,701.496C1738.65,711.022 1771.24,734.721 1790.05,764.519C1813.99,802.444 1815.97,849.504 1810.72,888.185C1810.5,889.67 1811.52,891.059 1813,891.286C1814.49,891.512 1815.88,890.489 1816.11,889.004C1822.88,848.884 1821.6,800.082 1798.35,759.521C1779.36,726.378 1745.84,698.577 1689.33,685.247C1622.16,668.915 1558.28,675.042 1503.38,688.98C1453.86,701.555 1411.81,720.679 1381.54,735.871Z" style="fill:rgb(83,105,132);"/> </g> </g> </g> </svg>');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: auto 110px;
    background-position: calc(100% - 60px) top;
}

section[data-testid="stSidebar"] {
    box-shadow: inset -6px 0px 10px rgba(0,0,0,.1);
    border-right: 1px solid #CCC;
}

[data-testid="stSidebarNav"] li[style=*] {
    background-color: #003981;
}

#side-footer {
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 130px;
}

#side-footer .team {
    text-align: right;
    margin-left: 10px;
    margin-right: 60px;
    font-size: 1em;
    border-right: 1px solid black;
    padding: 0 10px 0 0;
}

#side-footer .team-label {
    font-size: 1em;
    display: none;
}

#side-footer .team .member {
    display: block;
}

#side-footer .team .member img {
    vertical-align: middle; margin-left: 4px
}

#side-footer .promo {
    font-size: .8em;
    text-align: right;
    margin-right: 60px;
}

/* Background maps */
section.main {
    background-position: top left, bottom left, bottom left, center 30px;
    background-repeat: no-repeat;
    background-size: 100% 200px, auto 50vh, auto 50vh, cover;
    background-blend-mode: normal, overlay, multiply, multiply;
}

/* Climate & model info */
.model-info {
    padding-top: 2em;
}

.model-info span {
    display: block;
}

.model-info span + span {
    margin-top: -6px;
    font-size:.9em;
    font-weight: normal;
    /*border-bottom: 1px solid;*/
}

.model-info span + span::after {
    content:'';
    display: block;
    height: 1px;
    background: linear-gradient(to right, black, transparent 80%);
}

/* Yes No */
.Yes,
section.main > div:first-child > div:first-child > div:first-child > [data-testid="stHorizontalBlock"] [data-testid="column"]:nth-child(2) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(20,20,100)" opacity=".2" d="M20.422,8.516C20.244,5.283 17.391,2.738 13.99,3.024C12.903,1.785 11.297,1 9.5,1C6.328,1 3.746,3.443 3.578,6.516C1.545,6.875 0,8.621 0,10.722C0,13.084 1.949,15 4.354,15L5.68,15C6.451,16.198 7.804,17 9.354,17L19.645,17C22.051,17 24,15.084 24,12.722C24,10.621 22.455,8.875 20.422,8.516ZM5.027,13L4.354,13C3.057,13 2,11.978 2,10.722C2,8.604 4.104,8.125 5.488,8.21C5.438,6.854 5.625,3 9.5,3C10.467,3 11.214,3.25 11.79,3.644C9.967,4.566 8.694,6.39 8.578,8.516C6.556,8.874 4.881,10.643 5.027,13ZM19.645,15L9.354,15C8.057,15 7,13.978 7,12.722C7,10.604 9.104,10.125 10.488,10.21C10.438,8.854 10.625,5 14.5,5C18.271,5 18.729,8.771 18.512,10.209C20.021,10.104 22,10.646 22,12.722C22,13.978 20.943,15 19.645,15ZM10,23L8,23L8,19L10,19L10,23ZM15,19L13,19L13,23L15,23L15,19ZM20,19L18,19L18,23L20,23L20,19Z"/></svg>');
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%238ebcdf" opacity=".6" d="M20.422,8.516C20.244,5.283 17.391,2.738 13.99,3.024C12.903,1.785 11.297,1 9.5,1C6.328,1 3.746,3.443 3.578,6.516C1.545,6.875 0,8.621 0,10.722C0,13.084 1.949,15 4.354,15L5.68,15C6.451,16.198 7.804,17 9.354,17L19.645,17C22.051,17 24,15.084 24,12.722C24,10.621 22.455,8.875 20.422,8.516ZM5.027,13L4.354,13C3.057,13 2,11.978 2,10.722C2,8.604 4.104,8.125 5.488,8.21C5.438,6.854 5.625,3 9.5,3C10.467,3 11.214,3.25 11.79,3.644C9.967,4.566 8.694,6.39 8.578,8.516C6.556,8.874 4.881,10.643 5.027,13ZM19.645,15L9.354,15C8.057,15 7,13.978 7,12.722C7,10.604 9.104,10.125 10.488,10.21C10.438,8.854 10.625,5 14.5,5C18.271,5 18.729,8.771 18.512,10.209C20.021,10.104 22,10.646 22,12.722C22,13.978 20.943,15 19.645,15ZM10,23L8,23L8,19L10,19L10,23ZM15,19L13,19L13,23L15,23L15,19ZM20,19L18,19L18,23L20,23L20,19Z"/></svg>'); */
    /* color:#8ebcdf;
    color:#f9d656;
    color:#b6b3e1;
    color:#ecbe74;
    color:#C3C2D6;
    color:#EFD2A2; */
}

.No,
section.main > div:first-child > div:first-child > div:first-child > [data-testid="stHorizontalBlock"] [data-testid="column"]:nth-child(3) {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="rgb(220,140,0)" opacity=".3" d="M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 1s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 1s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm2.312-4.897c0 2.206 1.794 4 4 4s4-1.794 4-4-1.794-4-4-4-4 1.794-4 4zm10 0c0 3.314-2.686 6-6 6s-6-2.686-6-6 2.686-6 6-6 6 2.686 6 6z"/></svg>');
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23f9d656" opacity=".8" d="M4.069 13h-4.069v-2h4.069c-.041.328-.069.661-.069 1s.028.672.069 1zm3.034-7.312l-2.881-2.881-1.414 1.414 2.881 2.881c.411-.529.885-1.003 1.414-1.414zm11.209 1.414l2.881-2.881-1.414-1.414-2.881 2.881c.528.411 1.002.886 1.414 1.414zm-6.312-3.102c.339 0 .672.028 1 .069v-4.069h-2v4.069c.328-.041.661-.069 1-.069zm0 16c-.339 0-.672-.028-1-.069v4.069h2v-4.069c-.328.041-.661.069-1 .069zm7.931-9c.041.328.069.661.069 1s-.028.672-.069 1h4.069v-2h-4.069zm-3.033 7.312l2.88 2.88 1.415-1.414-2.88-2.88c-.412.528-.886 1.002-1.415 1.414zm-11.21-1.415l-2.88 2.88 1.414 1.414 2.88-2.88c-.528-.411-1.003-.885-1.414-1.414zm2.312-4.897c0 2.206 1.794 4 4 4s4-1.794 4-4-1.794-4-4-4-4 1.794-4 4zm10 0c0 3.314-2.686 6-6 6s-6-2.686-6-6 2.686-6 6-6 6 2.686 6 6z"/></svg>'); */
}

section.main > div:first-child > div:first-child > div:first-child > [data-testid="stHorizontalBlock"] [data-testid="column"] {
    /*border: 1px solid red;*/
    background-size: 60px 60px;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-size: 40px 40px;
    background-position: 60px top;
    background-repeat: no-repeat; */
}

section.main > div:first-child > div:first-child > div:first-child > [data-testid="stHorizontalBlock"] [data-testid="column"] label {
    /* padding-left: 40px; */
}

.pred {
    margin-top: -10px;
    padding: 40px 0 80px 40px;
    background-size: 120px 120px;
    background-position: 80px bottom;
    background-repeat: no-repeat;
}

.pred .msg {
    font-style: italic;
    font-weight:normal;
    font-size:1rem;
}

.spinner {
    display: flex;
    padding: 20px 0 0 20px;
}

.spinner .label {
    margin-top: 10px;
    font-style: italic;
    animation: blink 1s infinite alternate;
}

.spinner .spin {
    display: block;
    width: 10px; height: 10px;
    animation: spin 1s infinite linear;
}

.spinner .spin::before,
.spinner .spin::after {
    content: '';
    display: block;
    width: 8px; height: 8px;
    border: 1px solid #555;
}

.spinner .spin::before {
    animation: dance 3s infinite alternate;
}
.spinner .spin::after {
    animation: dance 1s infinite alternate linear;
}

@keyframes dance {
    0% {
        transform: scale(1,1) translate(-10px, 10px);
    }
    50% {
        transform: scale(1.5,1.5);
        border-radius: 100%;
    }
    100% {
        transform: scale(1.2,1.2) translate(10px, 0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(380deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ClfReport */
.rt {
    margin-top: 20px;
    font-size: .9em;
}
.rt table {
    width: 100%;
}

.rt tr { border-top: none; }

.rt tr > td:first-child {
    width: 32%;
}

.rt td {
    padding:4px;
}